<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello {{userInfos.Name}}!</h1>
  </div>
</header>

<div class="container-fluid" style="margin-top:10px;">
    <div class="row">
      <div class="col-sm-3" style="border-right: black solid 1px;">
      <p>Change your name: <input type="text" ng-model="userInfos.Name">
        <p style="border-top: 1px solid black;padding-top:5px;">Connected users:</p>
        <ul>
          <li ng-repeat="user in users">
            {{user.Name}}
            <a ng-click="StartConversation(user.Id)" style="cursor:pointer;" tooltip="Send a message"><i class="glyphicon glyphicon-envelope"></i></a>
            <a ng-click="Invite(user.Id)" style="cursor:pointer;" tooltip="Invite in the conversation"><i class="glyphicon glyphicon-share-alt" ng-show="IsInvitable(user)"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9">
        <tabset>
          <tab ng-repeat="conv in conversations" active="conv.Active">
          <tab-heading>
          <a href="#" ng-click="LeaveConversation(conv.Id)"><i class="glyphicon glyphicon-remove"></i></a> {{conv.DisplayName}}
          </tab-heading>
            <div class="row">
              <div class="col-sm-3" style="margin-top:10px">
                Participants : 
                <ul>
                  <li ng-repeat="user in conv.Participants">
                    <i class="glyphicon glyphicon-user" ng-show="conv.AdminId == user.Id" tooltip="Admin of the room"></i>
                    {{user.Name}}
                      <a ng-click="Ban(user.Id)" style="cursor:pointer;" tooltip="ban this user from the conversation"><i class="glyphicon glyphicon-remove" ng-show="IsBanable(user)"></i></a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-9">
                <div class="pre" style="height:300px;overflow-y:scroll;">
                  <p ng-repeat="line in conv.content" style="clear:both;">
                    <span>{{line.From}}</span> > <span>{{line.Content}}</span>
                    <a ng-href="{{line.Img}}" target="_blank" ng-show="line.Img!=undefined">
                      <img ng-src="{{line.Img}}" style="push:left;width:50px;max-height:50px;">
                    </a>
                  </p>
                </div>
                <form ng-submit="SendMessageToConversation()">
                  <input type="text" ng-model="conv.messageToSend" style="width:100%"> {{messageToSend}}
                </form>
              </div>
            </div>
            Send an image : <input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Raphael ATALLAH - October 2014</p>
    </div>
  </footer>
